<!--<table>-->
  <!--<tr>-->
    <!--<th *ngFor="let title of clientsArr">{{title}}</th>-->
    <!--<tr *ngFor="let project of projectDetailes">-->
      <!--<td>{{project.projectName}}</td>-->
      <!--<td>{{project.startDate | date: 'dd/MM/yyyy'}}</td>-->
      <!--<td>{{project.endDate | date: 'dd/MM/yyyy'}}</td>-->
      <!--<td>{{project.spent}}</td>-->
      <!--<td>{{project.remaning}}</td>-->
      <!--<td>{{project.notes}}</td>-->
      <!--<td>{{project.timeSpentToday}}</td>-->
    <!--</tr>-->
<!--</table>-->


<p-dataTable [value]="projectDetailes">
  <p-column field="projectName" header="Project Name"></p-column>
  <p-column field="startDate" header="Start Date"></p-column>
  <p-column field="endDate" header="End Date"></p-column>
  <p-column field="spent" header="Time Spent"></p-column>
  <p-column field="remaning" header="Time Remaning"></p-column>
  <p-column field="spent" header="Time Spent"></p-column>
  <p-column field="spent" header="Time Spent"></p-column>
</p-dataTable>




