<div class="register">

  <form [formGroup]="registerForm"
        (ngSubmit)="tryRegister()">

    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>

      <md-card class="register-card">

        <md-card-title>Register</md-card-title>
        <md-card-subtitle>Enter your registration detailes</md-card-subtitle>

        <md-card-content>

          <div layout="row">
            <md-input-container>
              <input mdInput placeholder="Name*" formControlName="name">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container>
              <input mdInput placeholder="Company Name*" formControlName="companyName">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container>
              <input mdInput placeholder="Phone" formControlName="phone">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container>
              <input mdInput placeholder="Email*" formControlName="email">
            </md-input-container>
          </div>

          <div formGroupName="passwords">

            <div layout="row">
              <md-input-container>
                <input mdInput placeholder="Password*" formControlName="password">
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container>
                <input mdInput placeholder="Confirm Password*" formControlName="confirmPassword">
              </md-input-container>
            </div>

          </div>

          <div layout="row">
            <md-input-container class="">
              <textarea mdInput placeholder="Extra Notes" formControlName="extraNotes"></textarea>
            </md-input-container>
          </div>



        </md-card-content>

        <md-spinner *ngIf="(registration | async).pending" style="position: absolute;"></md-spinner>

        <md-card-actions>
          <div layout="row">
            <md-checkbox formControlName="acceptTerms">Accept Terms</md-checkbox>
          </div>

          <div layout="row">
            <button md-button type="submit">Register Now</button>
          </div>
        </md-card-actions>
      </md-card>

    </section>
  </form>
</div>
