<div class="login">

  <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>

    <md-card class="login-card">

        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Login</md-card-title>
        <md-card-subtitle>Enter your Login detailes</md-card-subtitle>

      <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
      <md-card-content>
        <div layout="row">
          <md-input-container class="login-content">
            <input mdInput placeholder="Email">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container class="login-content">
            <input mdInput placeholder="Password">
          </md-input-container>
        </div>

      </md-card-content>
      <md-card-actions>
        <button md-button>Login</button>
        <button md-button>Forget Password?</button>
        <div layout="row">
          <a md-button routerLink="../register">Register</a>
        </div>
      </md-card-actions>
    </md-card>


  </section>
</div>
