<div class="login">

  <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>

    <form [formGroup]="loginForm"
          (ngSubmit)="tryLogin()"
          [ngClass]="{'submitted':ifSubmitted}">

      <md-card class="login-card">

          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Login</md-card-title>
          <md-card-subtitle>Enter your Login detailes</md-card-subtitle>

        <md-card-content>
          <div layout="row">
            <md-input-container class="login-content">
              <input mdInput placeholder="Email" formControlName="email">
            </md-input-container>
          </div>

          <md-spinner *ngIf="(user | async).pending" style="position: absolute;"></md-spinner>

          <div layout="row">
            <md-input-container class="login-content">
              <input mdInput placeholder="Password" formControlName="password">
            </md-input-container>
          </div>

        </md-card-content>
        <md-card-actions>
          <button md-button type="submit" (click)="ifSubmitted=true">Login</button>
          <button md-button routerLink="../forgetPassword">Forget Password?</button>
          <div layout="row">
            <a md-button routerLink="../register">Register</a>
          </div>
        </md-card-actions>
      </md-card>
    </form>


    <div class="reduxMessages">

      <h2 *ngIf="(user | async).pending">Pending...</h2>

      <h2 *ngIf="user | async">{{ user | async | json }}</h2>

      <h2 *ngIf="user | async">{{(user | async).errors}}</h2>
    </div>


  </section>
</div>
