<md-grid-list class="containerGrid" cols="12" rowHeight="3:4">

  <md-grid-tile colspan="12"
                rowspan="2"
                style="background: white;">

    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="header-image"></div>
      </md-card-header>

      <md-card-content>

        <p class="nameText">Benor Biton</p>
        <p class="companyText">500Tech</p>


      </md-card-content>

    </md-card>


  </md-grid-tile>

  <md-grid-tile
    colspan="12"
    rowspan="3"
    style="background: yellow;">

    <div class="register">

      <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>

        <md-card class="register-card">

          <md-card-title>Your Details</md-card-title>
          <md-card-subtitle>Here you can update your personal details</md-card-subtitle>

          <md-card-content>

            <div layout="row">
              <md-input-container>
                <input mdInput placeholder="Name" value="Benor Biton">
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container>
                <input mdInput placeholder="Company Name">
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container>
                <input mdInput placeholder="Phone">
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container>
                <input mdInput placeholder="Email">
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container class="">
                <textarea mdInput placeholder="Extra Notes"></textarea>
              </md-input-container>
            </div>


          </md-card-content>

          <md-card-actions>

            <div layout="row">
              <button md-button>Update</button>
            </div>
          </md-card-actions>

        </md-card>

      </section>
    </div>




  </md-grid-tile>

</md-grid-list>


