<div class="register">

  <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>

    <md-card class="register-card">

      <md-card-title>Create New Project</md-card-title>
      <md-card-subtitle>Enter your new project detailes</md-card-subtitle>

      <md-card-content>

        <div layout="row">
          <md-input-container>
            <input mdInput placeholder="Name">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container>
            <input mdInput placeholder="Company Name">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container>
            <input mdInput placeholder="Phone">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container>
            <input mdInput placeholder="Email">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container>
            <input mdInput placeholder="Password">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container>
            <input mdInput placeholder="Confirm Password">
          </md-input-container>
        </div>



      </md-card-content>

      <md-card-actions>
        <div layout="row">
          <md-checkbox>Accept Terms</md-checkbox>
        </div>

        <div layout="row">
          <button md-button>Register Now</button>
        </div>
      </md-card-actions>
    </md-card>



  </section>
</div>
